/* line 7, ../sass/custom.scss */
.container {
  background-color: #daffe9;
}

/* line 11, ../sass/custom.scss */
header {
  background-color: #2e8445;
}
/* line 12, ../sass/custom.scss */
header h1 {
  font-weight: 400;
}
/* line 16, ../sass/custom.scss */
header .row {
  padding: 0 15px;
}
/* line 19, ../sass/custom.scss */
header .logo {
  padding: 10px 0;
}
/* line 22, ../sass/custom.scss */
header .top-nav {
  position: relative;
  float: right;
}
/* line 25, ../sass/custom.scss */
header .top-nav ul {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/custom.scss */
header .top-nav ul li {
  list-style: none;
  font-size: .85em;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  letter-spacing: 1.5px;
  position: relative;
  float: left;
}
/* line 41, ../sass/custom.scss */
header .top-nav ul li a {
  color: white;
  display: block;
  background-color: #47a761;
  transition: all .2s ease-in-out;
  padding: 7.5px;
}
/* line 48, ../sass/custom.scss */
header .top-nav ul li a:hover {
  transition: all .2s ease-in-out;
  color: #daffe9;
  background-color: #92b999;
}
/* line 56, ../sass/custom.scss */
header .bottom {
  background-color: #47a761;
  height: 10px;
}

/* line 62, ../sass/custom.scss */
.page-container {
  padding: 0 30px 15px 30px;
  background-color: white;
}
/* line 65, ../sass/custom.scss */
.page-container nav {
  height: 40px;
}
/* line 67, ../sass/custom.scss */
.page-container nav ul {
  background-color: #2e8445;
  margin: 0;
  padding: 0;
  width: 95%;
  text-align: center;
  position: relative;
  float: left;
  text-align: center;
}
/* line 76, ../sass/custom.scss */
.page-container nav ul li {
  list-style: none;
  position: relative;
  float: left;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 40px;
  height: 40px;
  padding: 0 2%;
  width: 16.25%;
}
/* line 87, ../sass/custom.scss */
.page-container nav ul li a {
  height: 40px;
  color: white;
  display: block;
  background-color: #2e8445;
  transition: all .2s ease-in-out;
}
/* line 94, ../sass/custom.scss */
.page-container nav ul li a:hover {
  transition: all .2s ease-in-out;
  background-color: #47a761;
  overflow: visible;
  height: 80px;
}
@media only screen and (max-width: 768px) {
  /* line 102, ../sass/custom.scss */
  .page-container nav ul li {
    width: 100%;
  }
  /* line 104, ../sass/custom.scss */
  .page-container nav ul li a {
    height: auto;
    transition: none;
  }
  /* line 108, ../sass/custom.scss */
  .page-container nav ul li a:hover {
    height: auto;
    transition: none;
  }
}
/* line 114, ../sass/custom.scss */
.page-container nav ul li:nth-child(5) a:hover, .page-container nav ul li:nth-child(6) a:hover {
  height: 40px;
}
/* line 118, ../sass/custom.scss */
.page-container nav .search {
  position: relative;
  float: left;
  width: 5%;
  padding: 5px;
  height: 40px;
  line-height: 40px;
  background: #47a761 url(../stylesheets/search.png) no-repeat center center;
}
/* line 128, ../sass/custom.scss */
.page-container .body {
  margin-top: 40px;
}
/* line 130, ../sass/custom.scss */
.page-container .body .post {
  margin-bottom: 30px;
}
/* line 132, ../sass/custom.scss */
.page-container .body .post h2 {
  margin-bottom: 0;
  font-weight: 400;
}
/* line 136, ../sass/custom.scss */
.page-container .body .post h5 {
  margin-top: 0;
  color: #AEAEAE;
  font-size: .9em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 144, ../sass/custom.scss */
.page-container .body .post .divider {
  background-color: #47a761;
  margin-bottom: 10px;
  height: 3px;
  width: 100%;
}
/* line 153, ../sass/custom.scss */
.page-container .sidebar .collapse {
  padding: 5px 15px 0 15px;
}
/* line 156, ../sass/custom.scss */
.page-container .sidebar .social-media {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 161, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container {
  border: none;
}
/* line 163, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section {
  border: none;
}
/* line 165, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section p {
  border-top: 10px solid #2e8445;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #47a761;
}
/* line 171, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section p a {
  color: #daffe9;
  font-weight: 350;
  font-size: 1.25em;
  padding: 7.5px 20px;
}
/* line 178, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section div.content {
  padding: 7.5px 20px;
  background-color: #47a761;
  border: none;
}
/* line 182, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section div.content input {
  margin-top: 10px;
  margin-bottom: 3px;
  background-color: #daffe9;
}
/* line 187, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section div.content label {
  color: #daffe9;
  font-weight: 200;
}
/* line 191, ../sass/custom.scss */
.page-container .sidebar .user-area-logged-out .section-container section div.content .button {
  margin: 10px 0 0 0;
}

/* line 201, ../sass/custom.scss */
footer {
  background-color: #47a761;
  border-top: 10px solid #2e8445;
}
/* line 204, ../sass/custom.scss */
footer #footer {
  padding: 20px 15px 30px 15px;
}
/* line 207, ../sass/custom.scss */
footer .copyright {
  background-color: #2e8445;
  padding: 10px 0px;
}
/* line 210, ../sass/custom.scss */
footer .copyright .row {
  padding: 0 30px;
}

/* Centering Classes */
/* This parent can be any width and height */
/* line 219, ../sass/custom.scss */
.block {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
/* line 224, ../sass/custom.scss */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
/* line 234, ../sass/custom.scss */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
