.DS_Store

2dudes/wp-content/themes/twodudesfood/cache

*.txt

*.scssc

2dudes/wp-content/themes/twodudesfood-black/2dudesfood/.sass-cache/b3c4b354726107ada80d793f5dc9a08dc81d6a45/_normalize.scssc
aevidi_wordpress/wp-config.php
2dudes/wp-config.php
