$header: #2e8445;
$sidecontainer: #92b999;
$accent: #47a761;
$offwhite: #DAFFE9;


.container {
  background-color: $offwhite;
}
.divider {
  display: none;
}
@media screen and (max-width:758px) {
  .divider {
    display: block;
    padding: 5px 0;
    background-color: $header;
  }
  .divider.white {
    background-color: white;
  }
}

header {
  background-color: white;
  h1 {
    font-weight: 400;
  }
  background-color: $header;
  .row {
    padding: 0 15px;
  }
  .logo {
    padding: 10px 0;
  }
  .top-nav {
    position: relative;
    float: right;
    ul {
      position: relative;
      float: right;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: .85em;
        margin: 0;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        letter-spacing: 1.5px;
        position: relative;
        float: left;
        a {
          color: white;
          display: block;
          background-color: $accent;
          transition: all .2s ease-in-out;
          padding: 7.5px;
        }
        a:hover {
          transition: all .2s ease-in-out;
          color: $offwhite;
          background-color: $sidecontainer;
        }
      }
    }
  }
  .bottom {
    background-color: $accent;
    padding: 10px 0 0 0;
    .search-toggle {
      display:none;
      padding: 0 10px;
      .search-bar {
        margin-right: 20px;
        padding: 0 0 10px 0;
        input, a {
          margin: 0;
        }
      }
    }
  }
  .toggleMenu {
    display: none;
    background: $sidecontainer;
    padding: 15px 15px;
    color: white;
    width: 100%;
  }
  .nav {
    list-style: none;
    *zoom: 1;
    background: $header;
    position: relative;
    float: left;
    width: 90%;
    margin-bottom: 0;
    ul {
      list-style: none;
      width: 9em;
      margin: 0;
      padding: 0;
    }
    a {
      padding: 10px 15px;
      color: white;
      *zoom: 1;
      display: block;
    }
    > li {
      float: left;
      z-index: 200;
    }
    > li.hover > ul {
      left: 0;
    }
    li {
      position: relative;
      li.hover ul {
        left: 100%;
        top: 0;
      }
      a {
        background-color: $header;
      }
      a:hover {
        background-color: $accent;
      }
      ul {
        position: absolute;
        left: -9999px;
        z-index: 100;
        width: 100%;
        li {
          a {
            border-top: 1px solid black;
            background-color: $header;
            position: relative;
            z-index: 100;
          }
          li {
            a {
              border-top: 1px solid black;
              background-color: $sidecontainer;
              z-index: 200;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:758px) {
    .nav {
      width: 100%;
      display: block;
    }
    .nav > li {
      float: none;
    }
    .nav ul {
      display: block;
      width: 100%;
    }
    .nav > li.hover > ul, .nav li li.hover ul {
      position: static;
    }
  }
  .nav:before, .nav:after {
    content: " ";
    display: table;
  }
  .nav:after {
    clear: both;
  }
  .search-ul {
    list-style: none;
    position: relative;
    float: left;
    width: 10%;
    height: 46px;
    margin: 0;
    padding: 0;
    overflow: none;
    .search {
      position: relative;
      float: right;
      display: block;
      height: 100%;
      width: 100%;
      padding: 5px;
      background: $accent url(../stylesheets/search.png) no-repeat center center;
    }
  }
}

.page-container {
  padding: 0 15px 15px 15px;
  background-color: white;
  .body {
    .slider {
      ul {
        li {
          img {
            min-width: 100%;
            height: auto;
          }
        }
      }
      .orbit-caption {
        h3 {
          color: white;
          margin-bottom: 0;
          font-weight: 400;
        }
        h5 {
          margin-top: 0;
          color: #AEAEAE;
          font-size: .75em;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
    .post {
      margin-bottom: 30px;
      h2 {
        margin-bottom: 0;
        font-weight: 400;
      }
      h5 {
        margin-top: 0;
        color: #AEAEAE;
        font-size: .9em;
        font-weight: 400;
        text-transform: uppercase;
      }
      p {}
      .divider {
        background-color: $accent;
        margin-bottom: 10px;
        height: 3px;
        width: 100%;
      }
    }
  }
  .sidebar {
    .collapse {
       padding: 5px 15px 0 15px;
    }
    .social-media {
      padding-top: 20px;
      padding-bottom: 20px;
      a {
        transition: all .2s ease-in-out;
      }
      a:hover {
        transition: all .2s ease-in-out;
      	opacity: .7;
      	filter:alpha(opacity=70);
      }
    }
    .user-area-logged-out {
      .section-container {
        border: none;
        section {
          border: none;
          p {
            border-top: 10px solid $header;
            border-left: none;
            border-right: none;
            border-bottom: none;
            background-color: $accent;
            a {
              color: $offwhite;
              font-weight: 350;
              font-size: 1.25em;
              padding: 7.5px 20px;
            }
          }
          div.content {
            padding: 7.5px 20px;
            background-color: $accent;
            border: none;
            input {
              margin-top: 10px;
              margin-bottom: 3px;
              background-color: $offwhite;
            }
            label {
              color: $offwhite;
              font-weight: 200;
            }
            .button {
              margin: 10px 0 0 0;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $accent;
  border-top: 10px solid $header;
  #footer {
    padding: 20px 15px 30px 15px;
  }
  .copyright {
    background-color: $header;
    padding: 10px 0px;
    .row {
      padding: 0 30px;
    }
  }
}

/* Centering Classes */

/* This parent can be any width and height */
.block {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
.no-pad {
  padding: 0 !important;
}
