@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Sanchez);
@import url(http://fonts.googleapis.com/css?family=Sanchez);

::selection {
	background-color: #f6ea81; /* Safari */
	/*color: #75B64B;*/
}
::-moz-selection {
	background-color: #f6ea81; /* Firefox */
	/*color: #75B64B;*/

}

.no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

/*
.reveal-modal.open {
	position: fixed;
	width: 80%;
	left: 50% !important;
	top: 50% !important ;
	margin-top: -15% !important;
	margin-left: -40% !important;
}
*/

html, body {
		background: url(../img/grid_noise.png) center top repeat;
		min-width: 320px;
}

.reveal-modal img {
	display: block;
	margin: 0px auto;
	max-width: 225px;
	height: auto;
}

.flat {
	margin: 0 !important;
	padding: 0;
}

.no-margin {
	margin: 0 !important;
}

.page-container {
	width: 100%;
	height: auto;
	margin-top: 0px;
}

a.social-icons:hover {
	opacity: .7;
	filter:alpha(opacity=70);
}

a, a:active {
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;
}
a:hover {
    outline: 0 none;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.row {
	max-width: 100%;
	width: 100%;
}

.container {
  display: block;
  margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.nav-container ul li.button {
  padding-top: 0.75em !important;
  padding-right: 1.5em !important;
  padding-bottom: 0.8125em !important;
  padding-left: 1.5em !important;
}

.pull-right {
	float: right;
	clear: both;
}

.pull-left {
	float: left;
	clear: both;
}

.navbar {
	border-bottom: 4px solid #75B64B;
	/*height: 63px;
	overflow: hidden;
	z-index: 99;
	width: 100%;
	max-width: 100%;*/
	box-shadow: 0px 0px 15px rgba(5,59,9,0.88);
	padding: 10px 0;
}

.above {
	z-index: 2;
}

 .background {
   position:absolute;
   top:0px;
   left:0px;
   width:100%;
   height:100%;
   background-color:white;
   z-index:-1;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
   filter: alpha(opacity=.75);
   opacity:.75;
   	background: url(../img/grid_noise.png) center top repeat;
}

.nav-container {
	padding-top: 4px;
}
	.nav-container .nav-link.active a {
		color: #75B64B;
	}

.block {
  text-align: center;
}

.hidden {
	height:0;
	margin-bottom: 56px;
}

.dotted-line {
	border-top: 3px dotted #B6B6B6;
}

/*
.dotted-line.left {
	border-left: 3px dotted #B6B6B6;
	height: 15px;
}

.dotted-line.right {
	border-right: 3px dotted #B6B6B6;
	height: 15px;
}
*/

.centered-box {
	padding: 10px;
	background-color: #88c961;
	color: white;
	font-family: 'Sanchez', sans-serif, helvetica;
	position: relative;
	float:left;
	width: 100%;
	margin-top: -14px;
	box-shadow: 0 5px 6px -6px #6c6c6c;
}

#featured-text {
	padding-top: 30px;
	font-family: 'Quicksand', sans-serif, helvetica;
	color: #B6B6B6;
	font-size: 1.75em;
	/*text-shadow: 0 0 10px #c9c9c9;*/
}

#about-our-team h3 {
	font-family: 'Sanchez', sans-serif, helvetica;
	font-weight: 500;
	font-color: #333333;
}

.button.fancy {
	background-color: #80bf58;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
	border-radius: 7.5px;
	border: 1px solid #5fa838;
	font-family: 'Sanchez', sans-serif, helvetica;
	font-weight: normal;
	margin-bottom: 10px;
	box-shadow: 0 2px 2px 0px #ddd, 0 5px 1px -2px rgba(255,255,255,0.22) inset;
	text-shadow: 0px 3px 4px rgba(109,109,109,0.66);
	transition: background-color 400ms ease 0s;
	padding: 8px 15px;

}

.button.fancy:hover {
	background-color: #5aa334;
}

.button.fancy:active {
	background-color: #4e8b2c;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
	box-shadow: 0 5px 4px -4px rgba(0,0,0,0.67) inset, 4px 0px 4px -4px rgba(0,0,0,0.67) inset, -4px 0px 4px -4px rgba(0,0,0,0.67) inset;	transition: none;
}

.button.fancy.top-margin {
	margin-top: 14px;
}

#featured-line {
	padding-top: 44px;
	padding-bottom: 30px;
}

.white-box h3, .reveal-modal h3 {
	font-family: 'Sanchez', sans-serif, helvetica;
	color: #6fb545;
	font-weight: normal;
	font-size: 2em;
	text-align: center;
	text-shadow: 0px 3px 3px rgba(109,109,109,0.33);
}

.row.collapse {
	padding: 14px 14px 0 14px;
}

form > .row.collapse div:first-child label {
	padding-right: 10px;
	float: right;
	text-align: right;
}

form > .row.collapse:hover {
	background-color: #e4e4e4;
	border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	transition: background-color 300ms ease;
}

.row.collapse:hover label {
}

.fancy-header {
	font-family: 'Sanchez', sans-serif, helvetica;
	color: #333333;
	font-weight: normal;
	font-size: 2.5em;
	text-shadow: 0px 3px 3px rgba(109,109,109,0.33);
}

.process-band .fancy-header {
	font-family: 'Sanchez', sans-serif, helvetica;
	color: white;
	font-weight: normal;
	font-size: 2.5em;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.66);
}

.fancy-header.medium-font {
	font-size: 1.8em;
}

.fancy-header.number-icon {
	padding: 5px 0 0 11px;
	border-radius: 17px;
	background:#75B64B;
	margin-right: 21px;
	color:#222222;
	font-size: 1.4em;
	height: 35px;
	width: 35px;
	display: inline-block;
	text-shadow: none;
}

.process-band .process-block {
	background: #222222;
	padding: 20px;
	border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	box-shadow: 0 7px 4px -4px rgba(0,0,0,0.67) inset, 3px 0px 4px -4px rgba(0,0,0,0.67) inset, 0 2px 1px -1px rgba(221,221,221,0.1);
	margin-bottom: 30px !important;
}
.process-band .process-content {
	margin-left: 56px;
}

#about-top-band {
	margin-top: 30px;
}

#about-top-band > .white-box {
	margin-top: 15px;
}

#contact-form-div {
	margin-top: 20px;
}

#contact-form-div.panel {
	background: url(../img/grid_noise.png) center top repeat;
	font-family: 'Sanchez', sans-serif, helvetica;
	box-shadow: 0 5px 6px -6px #6c6c6c;
}

#contact-form input,
#contact-form textarea {
	font-family: "Carrois Gothic", helvetica, sans-serif;	
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
 }

 .h-centered {
	 text-align: center;
 }

.clear {
  display: block;
  clear: both;
  font-size: 0px;
  line-height: 0px;
}

.logo-container img {
	max-width: 220px;
}

.nav-ul {
	text-align: right;
	margin: 0;
}

.nav-ul > li {
}

.nav-link {
	font-size: 1.5em;
	padding: 0 1% !important;
	font-family: 'Carrois Gothic', sans-serif, helvetica;
	list-style: none;
	display: inline-block;
}

.nav-link a {
	color: #333333;
}

.nav-link a:hover {
	color: #75B64B;
	text-shadow: 0 0 10px #ffffff;
}

footer.footer {
	background: url(../img/black_denim.png) center top repeat;
	border-top: 4px solid #75B64B;
}

#footer span {
	font-family: "Carrois Gothic", helvetica, sans-serif;
}

#footer > .large-12 {
		background: url(../img/footer-center.png) top center no-repeat;
}

.band.process-band > .large-12, .band.about-our-team > .large-12 {
		background: url(../img/footer-center.png) top center no-repeat;
}

.footer .container {
	padding: 35px 0;
	text-align: center;
	font-family: 'Carrois Gothic SC', sans-serif, helvetica;
	color: #75B64B;
}

.footer .container .row > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tagline {
	padding-top: 20px;
	color: #7a7a7a;
}

.band {
	padding-bottom: 60px;
	margin-top:0px;
	/*box-shadow: 0 7px 4px -4px rgba(0,0,0,0.10) inset*/
}

.contact-band {
		border-top: 4px solid #75B64B;
		background: url(../img/footer-center.png) top center no-repeat #caecb4;
		padding-top: 40px;
}

.about-our-team {
		border-top: 4px solid #75B64B;
		background: url(../img/footer-center.png) top center no-repeat #caecb4;
}

.band.process-band {
	background: url(../img/escheresque_ste.png) center top repeat;
	border-top: 4px solid #75B64B;
	color: white;
}

.process-band .large-12 > .container, .about-our-team .large-12 > .container {
	padding-top:30px;
}

.about-our-team .row {
	margin-bottom: 2em;
	margin-top: 2em;
}

.about-our-team .row:last-child {
	margin-bottom: 0;
}

.about-our-team .about-sep {
	color: #ccc;
	margin: 0 10px;
}
.about-our-team .title {
	font-family: "Carrois Gothic", helvetica, sans-serif;
}

.process-band .arrow {
		background: url(../img/footer-center.png) top center no-repeat;		padding-top: 30px;
}

.band.process.green {
		border-top: 4px solid #75B64B;
		background: #caecb4;
		padding-top: 30px;
}

.white-box ul {
	text-align: left;
}

.white-box ul li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	line-height: 1.5em;
	font-size: 1.1em;
	padding-left: 2.5em;
	background: url(../img/check2.png) left center no-repeat;
	color: #333333;
	font-family: 'Carrois Gothic', sans-serif, helvetica;
}
/*
.white-box ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-size: 1.25em;
	padding-left: 2.0em;
	background: url(../img/check2.png) left center no-repeat;
	color: #333333;
	font-family: 'Sanchez', sans-serif, helvetica;
}
*/

.band.process.green.arrow {
		background: url(../img/footer-center.png) top center no-repeat #caecb4;
}

.band.process.bg {
		border-top: 4px solid #75B64B;
		background: url(../img/grid_noise.png) center top repeat;
		padding-top: 30px;
}

.band.bg-band {
	background: url(../img/grid_noise.png) center top repeat;
}

.panel.rounded {
	border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
}

.white-box {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
	background: rgba(255,255,255,1);
	width: 31.33%;
	padding: 2%;
	float: left;
	border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	box-shadow: 0 5px 6px -6px #6c6c6c;
	text-align: center;
}

.white-box img {
	max-width: 175px;
	height: auto;
}

.white-box.about {
	width: inherit;
}

.white-box:nth-child(2), .white-box:nth-child(3){
	margin-left: 3%;
}

#about-top-band .white-box {
	padding: 20px .75% .75% .75%;
	margin-left: 0;
	margin-right: 0;
	float: right;
}

#about-top-band .white-box #website-box {
	padding: 10px 10px 10px 15px;
}

#about-top-band .dotted-header {
	padding-top: 10px;
}

.divider {
  border-style: solid;
  border-width: 1px 0;
  border-color: #d9d9d9;
  padding: 1.25em;
  background: rgba(245,245,245,1);
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.75;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    background: url(../img/icon_top.png) center bottom no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    z-index: 10;
}

.divider.bg {
	background: url(../img/grid_noise.png) center top repeat;
}

.divider.focus {
		border-width: 3px 0;
    border-color: #1A802C;
    border-style: dashed;
    padding: .5em;
    position: relative;
    background: #75B64B;
}

.big-divider {
	height: 60px;
}

.jumbotron {
	box-shadow: 0 10px 12px -12px rgba(0,0,0,.75);
  position: relative;
  margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

/*
		box-shadow: 0 10px 12px -12px rgba(0,0,0,.75);
    position: relative;
    margin-bottom: 0;
*/
}

#home-hero {
	background-image: url(../img/hero.png);
	background-position: 50% 0;
}

#about-hero {
	background-image: url(../img/about-banner.jpg);
	background-position: 0 500px;
}

.hero {
	height: 100%;
	width: auto;
}

.bottom-border {
	border-bottom: 3px solid #75B64B;
}

.jumbotron.small {
	height: 75px;
}

.vert-space {
	margin-bottom: 20px;
}

.hero-s {
	font-size:5.0em;
	color: #333333;
}

.hero-s1 {
	color:#5F99A5;
}

.hero-s2 {
	color: #7AB26B;
}

.show-for-small-only {
	display: none;
}

.inline-img {
	display: inline-block;
	padding: 10px;
}

.show-for-large-only {
	display: inherit;
}

.error-row {
	color: red;
	padding-top: 0px !important;
	padding-bottom: 14px !important;
	display: none;
	text-align: right;
	float: right
}
.error-row * {
	font-family: "Carrois Gothic", helvetica, sans-serif;	
}

.form-element-holder {
	margin: 0 !important;
	padding: 0 !important;
}

/*.img-shadow {
	position: relative;
	float: left;
	overflow: hidden;
	}

.img-shadow::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 -5px 6px -6px #6c6c6c;
	-moz-box-shadow: inset 0 -5px 6px -6px #6c6c6c;
	-webkit-box-shadow: inset 0 -5px 6px -6px #6c6c6c;
 }

.img-shadow img {
	float: left;
}*/

/** Fixed hero background for stupidly large screens **/

@media (min-width:1850px) {
	.jumbotron {
    padding: 150px 0;
    height: 500px;
		/*background: url(../img/hero.png) center bottom scroll no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;*/
	}
	.jumbotron img {
		display: none;
	}
}

@media (max-width:1400px) {
	#about-hero {
		background-position: 50% !important;	
	}
}

@media (min-width:3000px) {
	.jumbotron {
		height: 1000px;
	}
}

.jumbotron .row {
	margin: 0;
}

/** End fix **/

@media (max-width: 768px) {
/*
	.reveal-modal.open {
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  width: 80%;
  top: 100px !important;
  margin-top: 100px !important;
	}
*/

#home-hero {
	height: 300px;
	background-image: url(../img/hero-770.png);
	background-position: 50%;
}
	.centered-box {
		padding: 5px 15px;
	}
	/*.no-pad {
		padding-left: 15px;
		padding-right: 15px;
	}*/
	.show-for-small-only {
		display: inherit;
	}
	.show-for-large-only {
		display: none;
	}
	.nav-ul {
		margin-top: 10px;
		text-align: center;
	}
	.hero-s {
		font-size:2.0em;
	}
	.small-centered {
		text-align: center;
	}
	.navbar {
		overflow: visible;
		border-bottom: none;
		box-shadow: none;
	}
	.navbar .container {
		padding: 10px 0;
		background: none;
	}
	nav.fixed {
		position: relative;
	}
	.mobile-block-grid-2 > li{
		position: relative;
		float: right;
    padding: 0 0.625em 1.25em;
	}
	.jumbotron {
		margin-top: -15px;
	}
	.navbar {font-size: 1.0em;}
	.background {
	border-bottom: 4px solid #75B64B;
	background: white;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
   filter: alpha(opacity=1);
   opacity:1;
	}

	.hidden {
		margin-bottom: 0;
	}

	.white-box {
		padding: 2%;
		width: 100%;
		margin: 1.25em 0;
		float: left;
	}

	.white-box:nth-child(2), .white-box:nth-child(3){
	margin-left: 0;
	}

	#featured-text {
		font-size: 1.35em;
	}

	form > .row.collapse div:first-child label {
		float: left;
		text-align: left;
	}
	.preloader {
		display: none;
	}
	.hidden {
		margin-bottom: 0;
	}
	.white-box {
		padding: 2%;
		width: 100%;
		margin: .75em 0;
		float: left;
	}
	.white-box:nth-child(2), .white-box:nth-child(3){
		margin-left: 0;
	}
	.process-band .process-content {
		margin-left: 0;
	}
	.fancy-header.number-icon {
		padding: 5px 0 0 0;
	}
	.fancy-header {
		margin: 20px 0;
	}
	.about-our-team h3 {
		margin: 20px 0;	
	}
	.about-our-team .about-sep {
		display: none;
	}
	.about-our-team .title {
		display: block;
		font-size: 0.85em;
	}
}

@media (max-width: 450px) {
	.navbar {font-size:.75em;}
	#home-hero {
		height: 248px;
		background-image: url(../img/hero-450.png);
	}
}